#association-modal.modal.hide
  .modal-header
    %button{:type => 'button', :class => 'close', :data => {:dismiss => 'modal'}} x
    %h3#title Choose an association
  .modal-body
    %p Loading...
  .modal-footer
    = text_field_tag "association-search", nil, {:class => 'search-query', :placeholder => 'Search'}