- artwork = @study.artworks.find_by_id(f.object.artwork_id)
.attachment{:name => target_id, :style => 'background-image: url("' + (artwork ? artwork.filename_url(:modal) : '') + '");'}
  = f.hidden_field :_destroy, {:id => target_id.to_s+"_destroy"}
  = f.hidden_field :artwork_id, {:id => target_id}
  = link_to '<i class="icon-pencil"></i>'.html_safe, '#', {:class => 'browse_fields btn', :data => {:source => artworks_path, :title => 'Choose an artwork', :target => target_id}}
  = link_to '<i class="icon-remove-circle"></i>'.html_safe, '#', {:class => 'remove_fields btn', :data => {:target => target_id}}