%h1 Studies
%table.dataTable.table.table-striped.table-bordered
  %thead
    %tr
      %th Name
      %th Position
      %th Artworks and images
  %tbody
    - @studies.each do |study|
      %tr
        %td= link_to (study.name.blank? ? "none" : study.name), study
        %td= study.position
        - count = (study.artworks.nil? ? 0 : study.artworks.count) + (study.images.nil? ? 0 : study.images.count)
        %td= (count > 0) ? "none" : count.to_s
= link_to "New Study", new_study_path, {:class => 'btn btn-primary big'}