// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

body { 
  padding: 60px 0px;
}

// fix flash classes from rails to bootstrap
.alert-notice{
  @extend .alert-success
}
.alert-warning{
  @extend .alert-danger
}
#loginform{
  .form-inputs{ padding: 1em; }
  .form-actions{ margin-bottom: 0px; }
  form{ margin-bottom: 0px; }
  border: 3px solid #f5f5f5;
  @include border-radius(10px);
}